<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springproj.mappers.memberMapper"> <!-- 여기 대소문자 틀려서 점심시간 통으로 날림 문자열에 주의하자 -->

	<select id="login" resultType="MemberVo">
		select * from member where userId = #{userId} and userPwd =
		sha1(md5(#{userPwd}))
	</select>

	<select id="memberPoint" resultType="MemberPointVo">
		select * from memberpoint where who = #{userId} order by no desc
	</select>
	
	<update id="updateRemember">
		update member set sesId = #{sesId}, seslimit = #{seslimit} where userId = #{userId}
	</update>
	
	<select id="selectRemember" resultType="MemberVo">
		select * from member where sesId = #{sesId} and seslimit > now() 
	</select>
</mapper>