<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springproj.mappers.replyMapper">

	<insert id="insertReply">
	<selectKey keyProperty="replyNo" resultType="int"
			order="BEFORE">
			select max(replyNo) +1 from replies
		</selectKey>
		insert into replies(boardNo, replier, replytext, ref) values
		(#{boardNo},#{replier},#{replytext},#{replyNo})
	</insert>

	<select id="selectAllReplies"
		resultType="com.springproj.domain.Replies">
		SELECT * FROM lsj.replies where boardNo =#{boardNo}  order by ref desc, replyNo asc
	</select>
	
	<update id="updateReply">
		update replies set replytext =#{replytext} , postdate=now() where replyNo =#{replyNo}
	</update>

</mapper>