<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd"> <!-- maybatis의 환경 설정 파일임을 알려주는 구문 -->

<configuration>
	<!-- 매퍼에서 사용되는 resultType에 대한 별칭 설정 -->
	<typeAliases>
		<typeAlias type="com.springproj.domain.BoardVo"
			alias="BoardVo" />
			
		<typeAlias type="com.springproj.domain.MemberVo"
			alias="MemberVo" />
			
			<typeAlias type="com.springproj.domain.MemberPointVo"
			alias="MemberPointVo" />
	</typeAliases>

	<!-- < DB 여러개 사용> <environments default=""> <environment id="mySql"> <dataSource 
		구술> </environment> <environment id="oracle"> <dataSource 구술> </environment> 
		</environments> -->

	<!-- <mapper 위치설정> <mappers> <mapper resource="매퍼파일의 위치"></mapper> </mappers> -->


</configuration>